<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://121.41.91.41:8756/apkUpload/yondou.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.shutuo.hdlplayer</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>1.0.0</string>
				<key>subtitle</key>
				<string>数拓DS</string>
				<key>title</key>
				<string>数拓DS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
